{# templates/images/images.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Images{% endblock %}

{% block body %}
    <h1>Liste des Images</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Image</th>
                <th>Lien</th>
            </tr>
        </thead>
        <tbody>
            {% for image in images %}
                <tr>
                    <td>{{ image.id }}</td>
                    <td>{{ image.name }}</td>
                    <td>
                        <img src="http://127.0.0.1:8000/images/{{ image.id }}" alt="{{ image.name }}" style="max-width: 100px; max-height: 100px;">
                    </td>
                    <td><a href="http://localhost:8002/images/{{ image.id }}/file" target="_blank">Voir</a></td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">Aucune image disponible.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
