{% extends 'base.html.twig' %}

{% block title %}Administrateur{% endblock %}

{% block body %}
    <h1>Gestion des Images</h1>

    <h2>Images actuelles</h2>
     <table border="1">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Image</th>
                <th>Lien</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for image in images %}
                <tr>
                    <td>{{ image.name }}</td>
                    <td>
                        <img src="http://localhost:8002/uploads/images/{{ image.file_name }}" alt="{{ image.name }}" style="max-width: 100px; max-height: 100px;">
                    </td>
                    <td><a href="http://localhost:8002/images/{{ image.id }}/file" target="_blank">Voir</a></td>
                    <td>
                        <form action="{{ path('admin_delete_image', {'id': image.id}) }}" method="post" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette image ?');">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">Aucune image disponible.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
